* {
  width: 100%;
}

nav {
  padding: 3% 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

nav a {
  border-radius: 15%;
  margin: 2% 5%;
  text-align: center;
  text-decoration: none;
  padding: 2% 2%;
  font-family: monospace;
}

#first {
  background-color: #f27f08;
  color: white;
}

#second {
  background-color: #168ffd;
  color: white;
}

#third {
  background-color: #fbcf48;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header img {
  border-radius: 50%;
  width: 20%;
  margin: 0 2%;
}

header div {
  border: 1px red solid;
  width: 30%;
  text-align: center;
  margin: auto auto;
  padding: 0 10%;
}

section div img {
  width: 25%;
}

footer img {
  width: 50%;
}